<div class="container mt-4">
  <h2>{{ title }}</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Nombre del producto</label>
      <input formControlName="name" class="form-control" />
    </div>

    <div class="mb-3">
      <label>Precio</label>
      <input type="number" formControlName="price" class="form-control" />
    </div>

    <div class="mb-3">
      <label>Cantidad</label>
      <input type="number" formControlName="quantity" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary me-2">{{ productId ? 'Actualizar' : 'Guardar' }}</button>
    <button type="button" class="btn btn-secondary" (click)="volver()">Volver a la lista</button>
  </form>
</div>
